@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Caso de estudio 2 </h1>
        <br />
        <div class="mt-4 p-5 bg-success text-white rounded">
            <h5 style="text-align:center"> ¡Bienvenido/a Estamos encantados de tenerte aquí. !</h5>
        </div>
        <br />
    </section>

</main>

